@model List<Planner.Models.TaskItem>

@{
    ViewBag.Title = "Главная";
}

@if (Model.Count == 0)
{
    <div><p style="font-size:30px">Список дел пустой</p></div>
    <a href="~/Planner/AddItem" class="btn btn-success" style="margin-top:1px">Добавить пункт</a>
}
else
{
    <div>
        <a href="~/Planner/AddItem" class="btn btn-success" style="margin-top:10px">Добавить пункт</a>
    </div>
    <h2>Список дел</h2>
    <table class="table">
        <tr>
            <th>
                Заголовок
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Выполнение
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

        <tr id="result">
         @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
             {
            <td>
                @Html.DisplayFor(modelItem => item.ItemContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @if(item.TaskCompleted)
                {
                    <p>Выполнено</p>
                }
                else
                {
                   <p>Не выполнено</p>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
            }
        </tr>
         }

    </table>
}
